*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
}

.product-subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 5px;
}

p {
  color: hsl(228, 12%, 48%);
}

.product-title {
  font-size: 2.3rem;
  margin: 0;
}

.product-title,
.current-price {
  font-family: "Fraunces", sans-serif;
}

.product-description {
  line-height: 1.7;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-size: 2.5rem;
  margin: 0.3em 0;
}

.old-price {
  text-decoration: line-through;
  margin: 0;
}

.add-to-cart-btn {
  display: block;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  padding: 1em 0;
  text-align: center;
  border-radius: 0.5em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: 125ms all;
}

.add-to-cart-btn:active {
  transform: scale(0.98);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution-text {
  color: black;
  margin-top: 2em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  width: 90%;
  margin: 0 auto;
  padding: 1em 1.8em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: white;
}

.product-img {
  display: block;
  width: 90%;
  margin: 7em auto 0 auto;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 2em;
}
